# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Python cache
src/__pycache__/
__pycache__/
*.py[co]

# Virtual environment
venv/
venv_*/

# Pickle files
*.pkl

# Build artifacts
build/
dist/
*.egg-info/

# Log files
*.log

# OS-specific files
.DS_Store

.env*

*.parquet

logs/

*.sqlite3
